<html>
    <head>
        <title>Quit Something App</title>
    </head>
    <body>
        <div>
            <h1><a href="">Quit Something</a></h1>
        </div>
        
        {% for thing in things %}
            <div>
                <h1><a href="">{{ thing.title }}</a></h1>
                <p>Quitter: {{ thing.quitter }}</p>
                <p>Quit Date: {{ thing.quit_date }}</p>
                <p>Cost per day: ${{ thing.cost_per_day }}</p>
                <p>{{ thing.notes|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>