<html>
    <head>
        <title>Quit Something App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h1><a href="">Quit Something</a></h1><hr>
        </div>
        
        {% for thing in things %}
            <div>
                <h2><a href="">{{ thing.title }}</a></h2>
                <p>Quitter: {{ thing.quitter }}</p>
                <p>Quit Date: {{ thing.quit_date }}</p>
                <p>Cost per day: ${{ thing.cost_per_day }}</p>
                <p>Notes: {{ thing.notes|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>