{% extends 'quit/base.html' %} <!--Grabs the base template-->

{%block content %}
    {% for thing in things %}
        <div class="something">
            <h2 class="title"><a href="{% url 'thing_detail' pk=thing.pk %}">{{ thing.title }}</a></h2>
            <p>Quitter: {{ thing.quitter }}</p>
            <div class="date">
                <p>Quit Date: {{ thing.quit_date }}</p>
            </div>
            <p>Cost per day: ${{ thing.cost_per_day }}</p>
        <p>Notes: {{ thing.notes|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}