.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 70px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    font-family: 'Lobster';
    text-decoration: none;
}

body {
    padding-left: 15px;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.something-form textarea, .something-form input {
    width: 100%;
}

.top-menu {
    color: #ffffff;
    float: left;
    font-size: 26pt;
    margin-right: 20px;
    text-decoration: none;
}
a.top-menu:hover {
    text-decoration: none;
}
.something {
    margin-bottom: 70px;
}

.something h2 a, .something h2 a:visited {
    color: #ff9400;
}
.something h2 a:hover{
    color: red; 
    transition: color 1s ease;
    text-decoration: none;
}
.something h4 {
    color: #ff9400;
}
.something button {
    font-size: 200%;
    margin-top: 10px;
    padding: 10px 30px;
}

a.site-link {
    font-size: 200%;
    color: green;
    font-family: 'Times New Roman';
}
a.site-link:hover {
    text-decoration: none;
}

.username {
    color: black;
}